/* slider2 design */
.slider2{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    /* slider의 바깥으로 빠져나가는 slider item을 보이지않게함 */
    overflow: hidden;
}

/* slider2 item */
.slider2-item{
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    /* flex의 컨테이너보다 item의 크기가 클때 넓이를 바뀌지않게 사용 */
    flex-shrink: 0;

    /* slider2 item 의 위치를 옮김 */
    position: relative;
    /* left의 위치를 0, -100%, -200% 이용하여 이동 */
    left: 0;
    transition: all 0.5s;
}

/* slider-button design */
.slider-button{
    position: absolute;
    top: 40%;
    font-size: 5rem;
}
.prev{
    left: 10px;
}
.next{
    right: 10px;
}

/* slider image */
.slider2 .slider2-item:nth-child(1){
    background-image: url("../img/3.jpg");
}
.slider2 .slider2-item:nth-child(2){
    background-image: url("../img/02.png");
}
.slider2 .slider2-item:nth-child(3){
    background-image: url("../img/0.jpg");
    background-size: cover;
}

/* slider dot의 모양 */
.slider2-dots{
    position: absolute;
    display: flex;
    left: 45%;
    bottom: 20px;
}
.slider2-dots .dot{
    cursor: pointer;
    width: 10px;
    height: 10px;
    background-color:aliceblue;
    border-radius: 50%;
    margin: 0 10px;
}
.slider2-dots .dot:hover,
.slider2-dots .dot.on
{
    background-color: rgba(255,255,255,0.5);
}