/* 태그 디자인 */

html{
    scroll-behavior: smooth;
}
a{
    color: #000;
    text-decoration: none;
}
h1{
    font-size: 3.5rem;
    margin: 20px 0;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}


/* 헤더와 네비게이션바 */
.header{
    position: fixed;
    width: 100vw;
    z-index: 1;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    transition: all 1s;
}
.nav-menu{
    display: flex;
}
.nav-menu li{
    margin: 35px 20px;
    /* li 태그안에 있는 모든 텍스트가 영향 */
    font-size: 1.1rem;
    transition: all 1s;
}
.logo{
    font-size: 1.4rem;
    font-weight: bold;
    color:palevioletred;
    font-family: 'Roboto Slab', serif;
}

/* scroll event 발생시 바뀌는 nav 디자인 */
.nav.scrollon{
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 1s;
}
.nav.scrollon li a{
    color: whitesmoke;
    transition: all 1s;
}
.nav.scrollon div{
    color: pink;
}




/* 메인의 섹션 */
section{
    height: 400px;
}

/* secton1 banner */
.banner{
    height: 100vh;
}
.banner .scroll-icon{
    position: absolute;
    bottom: 50px;
    left: 50%;
    font-size: 2rem;
    animation-name: moving-icon;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

/* 아이콘이 위 아래로 움직이는 애니메이션 작성 */
@keyframes moving-icon{
    0% {transform: translate(0,0)}
    70% {transform: translate(0,20px)}
    100% {transform: translate(0,0)}
}

/* section2 */
.intro-scroll{
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1)),
    url(../img/4.jpg);
}
/* event로 class가 붙었을때 디자인 */
.intro-scroll.scrollon{
    opacity: 1;
    transition: all 2s;
}

.intro-scroll .green-intro{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    transform: translateX(-400px);
}

/* event 발생시 추가되는 클래스 */
.intro-scroll.scrollon .green-intro{
    transform: translateX(0);
    transition: all 2s;
}

.intro-scroll .green-intro h1{
    font-size: 40px;
}
.intro-scroll .green-intro-image{
    width: 100vw;
    height: inherit; /* 부모의 높이를 가져옴 */
}

/* section3 slider button*/
.pictures{
    display: grid;
    grid-template-columns: 2fr 3fr;
}
.pictures .picture-wrap{
    padding: 20px 30px;
}
.pictures .picture-wrap .picture-explan{
    margin-bottom: 40px;
}
.pictures .picture-wrap .picture-buttons a{
    background-color:transparent;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
}
.pictures .picture-wrap .picture-buttons a.on{
    background-color: olive;
    color: white;
    transition: all 0.5s;
}

/* section4 */
.news-scroll h1{
    text-align: center;
}

/* news card */
.news-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin: 0 20px;
    justify-content: space-between;
}
.card{
    border-radius: 20px;
    box-shadow:  5px 5px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.card .card-image-wrap{
    height: 150px;
    background-color: lightsteelblue;
    overflow: hidden;
}

/* 카드글자 */
.card .card-text{
    padding: 20px;
}
.card .card-text h3{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px 0;
}
.card .card-text p{
    font-weight: bold;
    color: darkblue;
}
.card .card-text span{
    color: darkgray;
}


/* card에 마우스 올렸을때 전환효과 */
.card:hover .card-image-wrap .card-image{
    transform: scale(1.2);
    transition: all 0.5s;
    filter: brightness(0.7);
}

/* scrollon이 추가되었을때 보이는 전환효과 */
.news-scroll{
    opacity: 0;
    transform: translateY(40px);
}
.news-scroll.scrollon{
    opacity: 1;
    transform: translateY(0);
    transition: 2s;
}


/* card image */
.card .card-image-wrap .card-image{
    height: inherit;
    background-size: cover;
}
/* .card .card-image-wrap .card-image:nth-child(1){
    background-image: url(../img/5.jpg);
}
-->.card-image-wrap 안에서 .card-image가 첫번째인것 모두 */

.card:nth-child(1) .card-image-wrap .card-image{
    background-image: url(../img/4.jpg);
}
.card:nth-child(2) .card-image-wrap .card-image{
    background-image: url(../img/3.jpg);
}
.card:nth-child(3) .card-image-wrap .card-image{
    background-image: url(../img/0.jpg);
}
.card:nth-child(4) .card-image-wrap .card-image{
    background-image: url(../img/02.png);
}



/* footer */
.footer{
    box-sizing: border-box;
    height: 200px;
    background-color:#000;
    color: white;
    padding: 40px;
}
.footer .logo{
    width: 50%;
    display: inline-block;
}
.footer .info{
    margin-top: 20px;
    width: 50%;
    color: whitesmoke;
    font-size: 12px;
    line-height: 18px;
}
.footer .info p{
    margin-bottom: 7px;
}